@use "../base/sizes" as *;

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: no-wrap;
    box-sizing: border-box;

    color: var(--on-surface);
    background-color: var(--surface-container);
    border: 1px solid var(--outline);
    border-radius: $xl-radius;

    width: 100%;
}