@use "../base/breakpoints" as *;

svg.hamburger-icon {
    display: none;

    animation-duration: .3s;
    --tw-duration: .3s;
    transition-duration: .3s;

    user-select: none;
    will-change: transform;

    width: 1.5rem;
    height: 1.5rem;

    & > path {
        fill: none;

        stroke: currentColor;
        stroke-width: 5px;
        stroke-linecap: round;
        stroke-dasharray: 40 121;
        
        --tw-duration: .3s;
        transition-duration: .3s;
    }
    
    &.open {
        rotate: 45deg;
        stroke-dashoffset: -68px;
    }

    @include onPortrait {
        display: block;
    }
}

