$font-size: 1rem;
$font-weight: 400;

$font-name: "Geist";
$font-fallback: "Geist Fallback";
$font-family: $font-name, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@font-face {
    font-family: $font-family;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;
    src: url("./fonts/#{$font-name}/#{$font-name}-Regular.ttf") format("truetype");
}

@font-face {
    font-family: $font-family;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 500;
    src: url("./fonts/#{$font-name}/#{$font-name}-Medium.ttf") format("truetype");
}

@font-face {
    font-family: $font-family;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 600;
    src: url("./fonts/#{$font-name}/#{$font-name}-SemiBold.ttf") format("truetype");
}